.header{
    grid-area: header;
    background:#5682a3;
}

.header img{
    width: 140px;
    vertical-align:middle;
    margin:0px 10px;
}
.header:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}