.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 15px;

}

.dialogItems a{
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.dialogItems.dialog {
    padding: 10px;
}

.dialogItems.active{
    color:gold;
}

.messages {
  font-size: 18px;
}

.sendMessage{
    margin-top:10px;
}